<h1>Editing Book</h1>
<% if @book.errors.any? %>
<%= @book.errors.count %>errors prohibited this book from being saved:
<ul>
 <% @book.errors.full_messages.each do |message| %>
 <li><%= message %></li>
 <% end %>
</ul>
<% end %>

<%= form_with model: @book, url: "/books/#{@book.id}", method: :patch do |f| %>

<dl>
 <dt>Title</dt>
  <dd><%= f.text_field:title %></dd>

 <dt>Body</dt>
  <dd><%= f.text_area:body %></dd>
</dl>

<%= f.submit 'Update Book', :class => "btn" %>
<% end %>

<%= link_to "Show", "/books/#{@book.id}" %>
<span>｜</span>
<%= link_to "Back", "/books" %>
